{% extends 'books/base.html' %}
{% load static %}

{% block content %}

<div>
   <form action="{% url 'add' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div>{{ form.non_field_errors }}</div>
      <div  class="add-form">
         {% for f in form %}
         <div>
            <div for="{{ f.id_for_label }}" class="add-label">{{ f.label }}:</div>
            <div>{{ f }}</div>
         </div>
         <div>{{ f.errors }}</div>
         {% endfor %}
      </div>
      <button type="submit" class="add-submit">Добавить</button>
   </form>
</div>


{% endblock %}