{% extends 'books/base.html' %}
{% load static %}

{% block content %}

<div>
    <div>
        <h1>{{book.title}}</h1>
    </div>
    <div class="book-content">
        <div>
            <img class="book_image" src="{{book.image.url}}">
        </div>
        <div class="book-description">
            <div>
                <span class="bold-text">Автор:</span> {{book.author}}
            </div>
            <div>
                <span class="bold-text">Жанр:</span> {{book.genre}}
            </div>
            <div>
                <span class="bold-text">Год выпуска:</span> {{book.pub_date}}
            </div>
            <div>
                {{book.description|linebreaks}}
            </div>
        </div>
    </div>
    <div class="com">

        <div class="comment">Комментарии</div>
        <div class="comments">
        <form method="post">
            <div>
                <textarea class="input-comment" placeholder="Введите текст комментария"></textarea>
            </div>

            {% csrf_token %}
            {% for f in form %}
              <p>{{ f }}</p>
              <div class="form-error">{{ f.errors }}</div>
              {% endfor %}
            {% if request.user.is_authenticated %}
            <div class="button-c">
                <button class="submit-comment" type="submit">Отправить</button>
            </div>
            {% else %}
            <div>Авторизируйтесь, что бы оставить комментарий</div>
            {% endif %}
        </form>

            {% for c in comments %}
                <div>{{c}}</div>
            {% endfor %}

    </div>
</div>


{% endblock %}
