{% extends 'books/base.html' %}

{% block content %}

    <div class="content">
        <div class="search">
                <form action="{% url 'search_results' %}" method="get">
                    <input type="text" name="q" class="search-input" placeholder="Название книги">
                    <button type="submit" class="input-text">
                        ПОИСК
                    </button>
                </form>
        </div>
        <div class="books">
            <div class="cards">
                {% for b in books %}
                <div class="card">
                    <img class="card-img" src="{{b.image.url}}">
                    <div class="book-info">
                        <div class="book-name">{{b.title}}</div>
                        <div>Жанр: {{b.genre}}</div>
                        <div>Автор: {{b.author}}</div>
                        <div class="more">
                            <a class="more-info" href="book/{{ b.slug }}/">Подробнее</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}